Package: glacier-interface
Version: 0.2
Section: net
Architecture: all
Priority: standard
Depends: 
Maintainer: Ilija Matoski <ilijamt@gmail.com>
Recommends: 
Description: Multithreaded command line application, to interface with glacier servers
 Command line tool to interface with glacier. It's a multithreaded application, 
 that supports multipart uploads to Amazon Glacier servers. Supports a lot of 
 glacier functions, like listing vaults, deleting vaults, creating vaults, 
 uploading, archives, downloading archives, inventory downloads, folder 
 syncing and journal, verifications
